.home-page {
    width: 100%;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.home-page a {
    color: inherit;
    text-underline-offset: 1px;
    font-weight: 400;
    text-decoration-thickness: 2px;
    text-transform: lowercase;
    transition: all .3s ease-in-out;
  }
  .home-page a:hover {
    text-underline-offset: 4px;
    font-weight: bold;
    text-decoration-thickness: 3px;
  }

.home-page .home-hero {
    padding: 25px 40px 70px 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #292929;
}

.home-hero h6 {
    font-size: 19vw;
    line-height: 90%;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: condensed;
    color: #292929;
    text-align: right;
    letter-spacing: -1vw;
}

.home-hero .about {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

.about .about-bg {
    min-height: 80vh;
    height: 60vw;
    width: 55%;
    background-color: #292929;
    background-image: url(../assets/yemi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .about-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-info h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.about-info p {
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    width: 85%;
}

.about-info .link {
    margin-top: 60px;
}

.home-page .home-main {
    padding: 70px 0;
    padding-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.home-main h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.home-main p {
    font-family: 'Courier New', sans-serif;
    font-size: 14px;
    text-align: justify;
}


.winter-collection {
    padding: 0 40px;
}

.winter-collection .winter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.winter .winter-info {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.winter-info h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.winter-info .winter-foot {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.winter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.winter-foot .winter-blurry {
    background-image: url(../assets/esther.webp);
    background-position: center;
    background-color: #292929;
    background-size: cover;
    width: 100%;
    cursor: pointer;
    height: 40vw;
}

.winter .winter-bg {
    background-image: url(../assets/mayo.webp);
    background-position: center;
    background-color: #292929;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vw;
    min-height: 70vh;
    width: 60%;
    cursor: pointer;
}

.winter-collection .winter-potrait {
    background-image: url(../assets/smug.webp);
    background-position: center;
    background-color: #292929;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vw;
    width: 40%;
    margin: 55px auto 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.winter-potrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fall-collection {
    margin: 30px auto;
    padding: 40px;
    border-top: 1px solid #292929;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    height: fit-content;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 370px;
    gap: 15px 15px;
}

.item {
    font-size: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}.item-1 h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.item-1 p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 50%;
    margin-bottom: 30px;
}

 .item-1 {
    grid-column: 1/3;
    display: flex;
    grid-row: 1;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-size: 14px;
}

.item-2 {
    grid-column: 3/4;
    grid-row: 1;
    min-height: 50vh;
    height: 50vw;
    background-image: url(../assets/pose.webp);
    background-color: #292929;
}
.item-3 {
    grid-column: 1/3;
    grid-row: 2;
    height: 55vw;
    background-image: url(../assets/ayo.webp);
    background-color: #292929;
}
.item-4 {
    grid-column: 3/4;
    grid-row: 3;
    min-height: 50vw;
    background-image: url(../assets/face.webp);
    background-color: #292929;
}
.item-5 {
    grid-row: 4;
    height: 47vw;
    background-image: url(../assets/close-up.webp);
    background-color: #292929;
}
.item-6 {
    grid-row: 4;
    height: 47vw;
    background-image: url(../assets/gaff.webp);
    background-color: #292929;
}


.still-collection {
    padding: 40px;
    padding-bottom: 120px;
    border-top: 1px solid #292929;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    height: fit-content;
    gap: 15px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.still {
    font-size: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.still img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.still-1 p {
    margin-bottom: 50px;
    width: 90%;
}
.still-1 P:nth-child(1) {
    margin-bottom: 50px;
}

.still-1 {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50vw;
    min-height: 50vh;
}
.still-2 {
    background-color: chartreuse;
    background-image: url(../assets/road.jpg);
    grid-column: 4/9;
    height: 25vw;
    align-self: flex-end;
}
.still-3 {
    background-color: thistle;
    background-image: url(../assets/bridge.webp);
    height: 40vw;
    grid-row: 2;
    grid-column: 1/8;
}
.still-4 {
    background-color: violet;
    background-image: url(../assets/mosque.webp);
    height: 45vw;
    grid-column: 5/9;
    width: 100%;
    grid-row: 3/4;
}
.still-5 {
    background-color: aquamarine;
    background-image: url(../assets/morning.webp);
    height: 40vw;
    grid-column: 2/8;
    grid-row: 4/5;
}


@media screen and (max-width: 850px) {
    .home-page .home-hero {
        padding: 20px 30px;
    }

    .home-hero h6 {
        font-size: 18vw;
        text-align: right;
    }

    .home-hero .about {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .about .about-bg {
        height: 60vh;
        width: 100%;
    }

    .about .about-info {
        width: 100%;
        gap: 30px;
    }

    .about-info p {
        width: 100%;
    }
    .winter-collection {
        padding: 0 30px;
    }
    .winter-collection .winter {
        flex-direction: column;
        gap: 30px;
    }
    .winter .winter-info {
        width: 100%;
    }
    .winter .winter-bg {
        min-height: auto;
        height: 50vh;
        width: 100%;
    }
    .winter-collection .winter-potrait {
        height: 50vh;
        width: 100%;
        margin: 30px auto 0 auto;
    }
    .winter-foot .winter-blurry {
        height: 70vw;
        background-position: center -15px;
    }
    .fall-collection {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 40px 30px;
    }
    .item-1 p:nth-child(1) {
        width: 100%;
        margin-top: 50px;
    }
    .item-1 {
        grid-column: 1/5;
    }
    .item-2 {
        grid-row: 2;
        height: 50vw;
        min-height: auto;
        grid-column: 3/5;
    }
    .item-3 {
        grid-row: 3;
        grid-column: 1/5;
    }
    .item-4 {
        grid-row: 4;
        grid-column: 3/5;
    }
    .item-5, .item-6 {
        grid-row: 5;
    }
    .item-5 {
        grid-column: 1/3;
    }
    .item-6 {
        grid-column: 3/5;
    }
    .still-collection {
        padding: 40px 30px;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .still-1 p {
        width: 100%;
    }
    .still-1 {
        grid-column: 1/11;
        border: 1px solid red;
        min-height: auto;
        height: fit-content;
    }
    .still-2 {
        grid-row: 2;
        height: 38vw;
        grid-column: 2/11;
    }
    .still-3 {
        grid-row: 3;
        grid-column: 1/10;
    }
    .still-4 {
        grid-row: 4;
        grid-column: 3/11;
    }
    .still-5 {
        grid-row: 5;
        grid-column: 2/10;
        height: 40vw;
    }
}

@media screen and (max-width: 550px) {
    .home-page .home-hero {
        padding: 20px;
    }
    .about .about-bg {
        height: 50vh;
    }
    .about-info .link {
        margin-top: 25px;
    }
    .home-page .home-main {
        padding: 60px 0;
    }
    .winter-collection {
        padding: 0 20px;
    }
    .winter-foot .winter-blurry {
        height: 90vw;
        background-position: top center;
    }
    .winter .winter-bg {
        min-height: auto;
        height: 80vw;
        width: 100%;
    }
    .winter-collection .winter-potrait {
        height: 40vh;
        width: 100%;
        margin: 30px auto 0 auto;
    }
    .test .test-bg {
        width: 90%;
        height: 90vh;
    }
    .fall-collection {
        padding: 40px 20px;
    }
    .still-collection {
        padding: 40px 20px;
        padding-bottom: 0;
    }
    .still-1 {
        height: fit-content;
    }
    .still-1 p {
        margin-bottom: 10px;
    }
    .still-1 p:nth-child(1) {
        margin-top: 80px;
    }
}